# Python
venv/
__pycache__/
*.pyc

# Node / Angular
node_modules/
dist/

# Outros
.env

# Backend
backend/app.db
backend/venv/

# Frontend
frontend/task-manager-frontend/node_modules/
frontend/task-manager-frontend/dist/